html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    line-height: calc(9/12);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: calc(38/1366*100%) calc(98/1366*100%);
    position: fixed;
    width: 100%;
    z-index: 50;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
}

.logo {
    position: relative;
    z-index: 50;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav__item {
    color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: inherit;
    font-weight: 600;
    display: inline-block;
    transition: all 0.2s;
}

.nav__item:hover {
    color: #10c9c3;
}

.nav {
    flex-basis: calc(615/1170*100%);
    min-width: 500px;
    margin-left: auto;
}

.nav__bar {
    height: 100%;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: calc(38/1366*100%) calc(98/1366*100%);
    padding-bottom: 0;
    z-index: 1;
}

.banner__image {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    z-index: -2;
    object-fit: cover;
}

.banner__title {
    /* font-size: 38px; */
    font-size: calc(22px + 16 * ((100vw - 320px) / 1046));
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1d1d1d;
    margin-top: 0;
}

.banner__description {
    /* font-size: 18px; */
    font-size: calc(12px + 6 * ((100vw - 320px) / 1046));
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
    color: #1d1d1d;
}

.contact__button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: calc(8px + 4 * ((100vw - 320px) / 1046));
    font-family: 'Montserrat', sans-serif;
    background-color: #10c9c3;
    padding: calc(10.5px + 12 * ((100vw - 320px) / 1046)) calc(23.65px + 27.015 * ((100vw - 320px) / 1046));
    border: none;
}

.about {
    text-align: center;
    background-color: #fff;
    padding: calc(100/1366*100%) calc(30px + 344 * ((100vw - 768px) / 598));
}

.title {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(22px + 8 * ((100vw - 320px) / 1046px));
    color: #191919;
    margin-top: 0;
    margin-bottom: calc(35/618*100%);
}

.text {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    /* font-size: 16px; */
    font-size: calc(14px + 2 * ((100vw - 320px) / 1046));
    line-height: 1.5;
    margin-top: 0;
}

.about__text {
    margin-bottom: calc(30/618*100%);
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9f9;
    flex-wrap: wrap;
}

.skills__photo {
    flex-basis: 50%;
    height: auto;
    min-width: 300px;
    object-fit: cover;
}

.skills .text__container {
    padding: 0 calc(15px + 70 * ((100vw - 768px) / 598)) 0 calc(28px + 70 * ((100vw - 768px) / 598));
    flex-basis: 50%;
}

.skills__title {
    margin-bottom: calc(40/500*100%);
}

.category__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: calc(20/500*100%);
}

.category {
    margin-bottom: calc(40/500*100%);
}

.category:last-child {
    margin-bottom: 0;
}

.perc {
    margin-left: 4%;
}

.progress {
    width: 100%;
    height: 2px;
    background-color: #d8d8d8;
    position: relative;
}

.progress::before {
    content: '';
    height: 100%;
    background-color: #10c9c3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.ux-ui__progress.progress::before {
    width: 75%;
}

.web-dev__progress.progress::before {
    width: 90%;
}

.marketing__progress.progress::before {
    width: 65%;
}

.statistic {
    background-color: #10c9c3;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: calc(100/1366*100%);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.statistic__elem {
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 200px;
}

.number {
    margin-top: 0;
    margin-bottom: calc(15/150*100%);
    font-size: 18px;
}

.name {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.statistic__elem .text__container {
    margin-left: calc(25/291.5*100%);
}

.works__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.work {
    flex-basis: 25%;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button__container {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button__container button {
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-family: 'Monserrat', sans-serif;
    color: #8e8e8e;
    font-weight: 600;
    letter-spacing: 2px;
    background: none;
    padding: 0;
}

.work_process {
    padding: calc(100/1366*100%) calc(98/1366*100%);
    text-align: center;
}

.work_process .title {
    margin-bottom: calc(35/1170*100%);
}

.work_process .text {
    margin-bottom: calc(55/1170*100%);
    padding: 0 calc(20px + 300 * ((100vw - 768px) / 598));
}

.video__container {
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.play-pause {
    background-color: #10c9c3;
    padding: 0;
    border: 0;
    width: calc(40px + 45 * ((100vw - 320px) / 1046));
    height: calc(40px + 45 * ((100vw - 320px) / 1046));
    border-radius: 50%;
    display: block;
    position: relative;
    outline: none;
}

.play-pause::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border: calc(8px + 2 * ((100vw - 320px) / 1046)) solid transparent;
    border-left: calc(8px + 2 * ((100vw - 320px) / 1046)) solid white;
    margin-top: calc(-8px - 2 * ((100vw - 320px) / 1046));
    margin-left: -2px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding: calc(20px + 80 * ((100vw - 768px) / 598)) calc(30px + 80 * ((100vw - 768px) / 598));
    text-align: center;
}

.services__item {
    flex-basis: 25%;
    margin-bottom: calc(55/1146*100%);
    min-width: 200px;
}

.services__item .category__title {
    line-height: normal;
    margin-top: 0;
    margin: calc(15/286.5*100%) 0;
}

.description {
    margin-bottom: 0;
    padding: 0 calc(20/286.5*100%);
}

.services__item:nth-child(5),
.services__item:nth-child(6),
.services__item:nth-child(7),
.services__item:nth-child(8) {
    margin-bottom: 0;
}

.testimonals {
    padding: calc(175/1366*100%) calc(50px + 220 * ((100vw - 768px) / 598)) calc(60/1366*100%);
    background-color: #10c9c3;
    text-align: center;
}

blockquote {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 calc(35/826*100%);
}

.autor {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    color: white;
    letter-spacing: 1px;
    margin-top: calc(35/826*100%);
}

.switch__container {
    margin-top: calc(110/826*100%);
}

.switch__item {
    border: none;
    width: 6px;
    height: 6px;
    background-color: #fff;
    opacity: 0.3;
    border-radius: 50%;
    padding: 0;
    margin: 0 0.3%;
    transition: all 0.5s;
}

.current {
    opacity: 1;
    transform: scale(1.666666666);
    margin: 0 0.7%;
}

.clients__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(64/1366*100%) calc(30px + 114.5 * ((100vw - 768px) / 598));
}

.contact {
    text-align: center;
    background-color: #f5f5f5;
    padding: calc(100/1366*100%) calc(80px + 267.5 * ((100vw - 768px) / 598));
}

.contact .title {
    text-transform: none;
    margin-bottom: calc(35/671*100%);
}

.contact .text {
    padding: 0 calc(50/671*100%);
}

.user__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: calc(30/671*100%);
}

.user__name {
    flex-basis: calc(320/671*100%);
    margin-bottom: calc(30/671*100%);
}

.user__email {
    margin-bottom: calc(30/671*100%);
    flex-basis: calc(320/671*100%);
}

.user__title {
    display: block;
    width: 100%;
    margin-bottom: calc(30/671*100%);
}

.user__comment {
    display: block;
    width: 100%;
}

input:focus, textarea:focus {
    outline: none;
}

input, textarea {
    border: none;
    border-radius: 2px;
    padding: 15px;
    resize: none;
    color: #787878;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.5px;
}

:-moz-placeholder,
:-ms-input-placeholder,
::placeholder,
::-webkit-input-placeholder {
    color: #787878;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

footer {
    display: flex;
    background-color: #141414;
    padding: calc(30px + 70 * ((100vw - 768px) / 598));
    padding-right: calc(30px + 80 * ((100vw - 768px) / 598));
    flex-direction: row;
    flex-wrap: wrap;
}

.emblem p {
    margin: 0;
}

.emblem p:last-child {
    margin-top: 10px;
}

.emblem__title {
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: calc(30/222*100%);
}

.emblem__data {
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: #bcbcbc;
}

.contact__info {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    margin-left: calc(50px + 190 * ((100vw - 768px) / 598));
}

.contact__email {
    margin-top: 0;
    margin-bottom: 10px;
}

.contact__phone {
    margin: 0;
}

.info__container {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    margin-left: calc(50px + 90 * ((100vw - 768px) / 598));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.useful-links {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    margin-left: calc(50/1106*100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.useful-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.social-networks {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-network {
    text-decoration: none;
    color: inherit;
    display: block;
}

.social-network:not(:last-child), .info__link:not(:last-child), .useful-link:not(:last-child) {
    margin-bottom: 10%;
}

@media all and (max-width: 937px) {
    .statistic__elem {
        margin: 5%;
    }
}

@media all and (max-width: 893px) {
    .services__item {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (max-width: 767px) {
    /* menu style */
    .nav {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        transition: 0.5s ease-in-out;
        height: 0;
        transition-property: width, height, padding;
        width: 0;
        padding: 0;
        display: block;
        background: linear-gradient(45deg, rgba(158,157,155,1) 0%, rgba(252,134,96,1) 100%);
        min-width: 0;
    }

    .nav__item a {
        font-size: 0;
        transition: font-size 0.5s ease-in-out;
    }

    .nav.visible {
        width: 100%;
        padding: 5%;
    }

    .visible .nav__item a {
        font-size: 12px;
    }
    
    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        margin-left: auto;
    }

    .burger::before,
    .burger::after {
        content: '';
        position: absolute;
        background-color: #191919;
        width: 100%;
        height: 2px;
        transition: all 0.5s ease-in-out;
    }
    
    .burger::before {
        top: 0;
    }
    
    .burger::after {
        bottom: 0;
    }
    
    .burger span {
        background-color: #191919;
        position: absolute;
        width: 100%;
        display: block;
        top: 50%;
        margin-top: -1px;
        transition: all 0.5s ease-in-out;
        height: 2px;
    }

    .burger.active::before {
        transform: rotate(135deg);
        top: 9px;
        background-color: #dd4b2b;
    }
    
    .burger.active::after {
        bottom: 9px;
        transform: rotate(45deg);
        background-color: #dd4b2b;
    }
    
    .burger.active span {
        transform: scale(0);
        background-color: #dd4b2b;
    }


    /* content style */

    .work {
        flex-basis: 50%;
    }

    .about {
        padding-left: calc(30/767*100%);
        padding-right: calc(30/767*100%);
    }

    .services {
        padding: 20px calc(30/767*100%);
    }

    .skills .text__container {
        padding: 0 calc(15/767*100%) 0 calc(28/767*100%);
    }

    .work {
        min-width: 250px;
    }

    .clients__container {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }

    .clients__item {
        margin: 3%;
    }

    footer {
        /*padding-top: 5%;
        padding-bottom: 5%;*/
        padding: 5%;
    }

    .contact {
        padding-left: 5%;
        padding-right: 5%;
    }

    br {
        display: none;
    }
}

@media all and (max-width: 742px) {
    footer {
        padding-right: 2%;
        padding-left: 2%;
    }
}

@media all and (max-width: 663px) {
    .contact__info {
        flex-basis: 50%;
        margin-left: 0;
        padding-left: 10%;
    }

    .emblem {
        /*margin-left: 10%;*/
        margin-bottom: 5%;
        flex-basis: 50%;
    }

    .social-networks, .useful-links, .info__container {
        margin: auto;
    }
}

@media all and (max-width: 599px) {
    .skills {
        display: block;
        padding-top: 7%;
    }
    
    .skills .text__container {
        padding: 0 28px;
        margin-bottom: 10%;
    }
    
    .skills__photo {
        width: 100%;
        min-width: 0;
    }

    .user__name, .user__email {
        display: block;
        width: 100%;
        flex-basis: auto;
    }
}

@media all and (max-width: 585px) {
    .statistic__elem {
        margin: 7%;
    }

    header {
        padding-top: 5%;
    }
}

@media all and (max-width: 499px) {
    .work {
        flex-basis: 100%;
    }

    footer {
        display: block;
    }

    .emblem__title {
        margin-bottom: calc(30/449*100%);
    }

    .contact__info {
        padding-left: 0;
    }
    
    footer div {
        margin-bottom: 10%;
    }

    .social-networks, .useful-links, .info__container {
        width: calc(288/3/320*100%);
        display: inline-block;
    }

    footer div a {
        margin-bottom: 10%;
    }

    .nav__list {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}

@media all and (max-width: 399px) {
    .banner {
        padding-left: 3%;
        padding-right: 3%;
    }

    .banner__title {
        margin-bottom: 3%;
    }

    .banner__description {
        margin-top: 0;
        line-height: normal;
    }
}